<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <ion-button [href]="'tabs'" size="small">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
      Próximos Eventos do Bairro <b>{{nomebairro}}</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.5" pullMin="100" pullMax="200">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Próximos Eventos <b>{{nomebairro}}</b></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card *ngFor="let evento  of listaEventos">
    <ion-card-content>
      <ion-row>
        <ion-col><img [src]="getImagem(evento.imagem)" /></ion-col>
        <ion-col>
            <ion-card-subtitle class="data">{{evento.data | date: 'dd/MM/yyyy HH:mm' }}</ion-card-subtitle>
            <span class="titulo">{{evento.nome}}</span>
            <span color="primary" class="local">Local: <b>{{evento.local.nome}}</b></span>
            <ion-button size="small" routerLink="/eventosdetalhes/{{evento.id}}" routerDirection="forward">
              <ion-icon name="add-outline"></ion-icon> Saiba Mais
            </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
